@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* 
{
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;

    margin: 0;
    box-sizing: border-box;
}

body
{
    background: linear-gradient(150deg, rgba(0,47,255,1) 0%, rgba(0,255,210,1) 100%); 
    overflow-x: hidden;
}

.container
{
    height: 300vh;
    max-width: 800px;
    margin: auto;
}

.logo
{
    display: flex;
    align-items: center;
    font-weight: bold;
}

.logom
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 45% 70%;
    margin: 10px;
}

.en
{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 100% 26%;
}

.img
{
    height: 305px;
    width: 305px;
    border-radius: 50%;
    background: linear-gradient(150deg, rgba(0,72,255,1) 0%, rgba(0,255,210,1) 100%);

    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav
{
    height: 70px;
    background-color: #fff;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    position: sticky;
    z-index: 100;
    top: 0;
}

nav ul
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}

nav li a
{
    margin-right: 20px;
    color: black;
}

#workNav
{
    padding: 5px 10px;
    border-left: 3px solid blue;
    border-right: 3px solid blue;
}

#aboutNav
{
    margin-right: 20px;
}

#contactNav
{
    margin-left: 0px;
}

.hero
{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: larger;
}

blockquote
{
    display: flex;
    border-left: 3px solid purple;
    color: purple;
    padding: 20px;
    margin-left: 20px;
    margin-top: 10px;
    text-align: center;
}

h1
{
    color: white;
}

.me
{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttons
{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.buttons a:hover
{
    opacity: 0.5;
    color: black;
}

.buttons a
{
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
}

a
{
    text-decoration: none;
    color: blue ;
}

span
{
    margin: 10px;
}

.about
{
    margin-top: 300px;
    display: flex;
    justify-content: center;
}

.rolam
{
    width: 800px;
    margin-top: 200px;
}

.rolam h1
{
    text-indent: 20px;
    font-weight: bold;
}

.rolam p
{
    color: white;
    text-indent: 20px;
}

@media (max-width: 550px)
{
    .logo span span
    {
        font-size: 0%;
    }

    .logo span
    {
        font-size: small;
    }

    .hero
    {
        flex-direction: column;
    }
    .name
    {
        flex-direction: column;
    }

    nav ul
    {
        font-size: small;
        padding: 0;
        margin: 0;
    }

    #workNav
    {
        padding: 0 2px;
        margin: 0 2px;
    }

    #aboutNav
    {
        margin: 0;
    }

    .me
    {
        flex-direction: column;
        margin: auto auto auto auto;
    }

    .buttons
    {
        flex-wrap: wrap;
    }

    .en
    {
        height: 200px;
        width: 200px;
    }

    .img
    {
        height: 205px;
        width: 205px;
    }

    .name
    {
        font-size: medium;
    }

    .name
    {
        margin-left: 20px;
    }


    .rolam p
    {
        padding: 20px;
    }
}

