@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* 
{
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;

    margin: 0;
    box-sizing: border-box;
    color: black;
}


.project-container
{
    border: 3px rgb(205, 205, 205) solid;
    border-radius: 32px;
    overflow: hidden;
    margin-top: 32px;
    background-color: whitesmoke;
}

.project-layout
{
    display: flex;
}

.project-img
{
    overflow: hidden;
    max-height: 300px;
    max-width: 47.5%;
    margin-right: 2.5%;
    border-right: solid rgb(205, 205, 205) 3px;
}

.project-img img
{
    height: 400px;
    transform: translateX(-150px);
}

#img-3
{
    transform: translateX(-225px);
}

.project-description
{
    margin-top: 20px;
    width: 47.5%;
}

.project-links
{
    display: flex;
    flex-direction: column;
}

body
{
    background: rgb(90, 90, 90); 
    overflow-x: hidden;
}

.container
{
    height: 400vh;
    max-width: 800px;
    margin: auto;
}

.logo
{
    display: flex;
    align-items: center;
    font-weight: bold;
}

.logom
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 45% 70%;
    margin: 10px;
}

.en
{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 100% 26%;
}

.img
{
    height: 305px;
    width: 305px;
    border-radius: 50%;
    background: whitesmoke;

    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav
{
    height: 70px;
    background-color: rgb(90, 90, 90);
    border-bottom: 3px solid rgb(65, 65, 65);
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    position: sticky;
    z-index: 100;
    top: 0;
}

nav ul
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}

nav li a
{
    margin-right: 20px;
    color: black;
}

#workNav
{
    padding: 5px 10px;
    border-left: 3px solid black;
    border-right: 3px solid black;
}

#aboutNav
{
    margin-right: 20px;
}

#contactNav
{
    margin-left: 0px;
}

.hero
{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: larger;
}

blockquote
{
    display: flex;
    border-left: 3px solid whitesmoke;
    color: whitesmoke;
    padding: 20px;
    margin-left: 20px;
    margin-top: 10px;
    text-align: center;
}

h1, h2
{
    color: white;
}

.me
{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.buttons
{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.buttons a:hover
{
    opacity: 0.5;
    color: black;
}

.buttons a
{
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
}

a
{
    text-decoration: none;
    color: black;
}

span
{
    margin: 10px;
    color: black;
}

.section
{
    margin-top: 300px;
    display: flex;
    justify-content: center;
}

.rolam
{
    width: 800px;
    margin-top: 200px;
}

.rolam h1
{
    text-indent: 20px;
    font-weight: bold;
}

.rolam p
{
    color: white;
    text-indent: 20px;
}

.munkaim
{
    margin-top: 200px;
}

.kapcsolat
{
    margin-top: 100px;
    width: 100%;
    height: 600px;
    background: rgb(65, 65, 65);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

iframe
{
    width: 330px;
    height: 420px;
    border-radius: 10px;
    margin: 10px;
}

h3
{
    font-weight: bold;
}

.form
{
    width: 250px;
    margin: 10px;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 10px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.form input
{
    border-radius: 5px;
    margin: 5px;
    height: 30px;
    border: none;
    box-shadow: 2px 2px 3px 3px lightgray;
}

.form input[type=submit]
{
    margin-top: 20px;
    border-radius: 15px;
}

#message
{
    height: 100px;
}

.info
{

}

@media (max-width: 550px)
{
    .logo span span
    {
        font-size: 0%;
    }

    .logo span
    {
        font-size: small;
    }

    .hero
    {
        flex-direction: column;
    }
    .name
    {
        flex-direction: column;
    }

    nav ul
    {
        font-size: small;
        padding: 0;
        margin: 0;
    }

    #workNav
    {
        padding: 0 2px;
        margin: 0 2px;
    }

    #aboutNav
    {
        margin: 0;
    }

    .me
    {
        flex-direction: column;
        margin: auto auto auto auto;
    }

    .buttons
    {
        flex-wrap: wrap;
    }

    .en
    {
        height: 200px;
        width: 200px;
    }

    .img
    {
        height: 205px;
        width: 205px;
        margin: auto;
        margin-bottom: 10px;
    }

    .name
    {
        font-size: medium;
        margin-left: 20px;
    }


    .rolam p
    {
        padding: 20px;
    }
}

@media (max-width: 1000px)
{
    .project-container
    {
        border: 3px white solid;
        border-radius: 32px;
        background-color: rgb(75, 101, 170);
        margin: auto;
    }

    .project-layout
    {
        flex-direction: column;
    }

    .project-img
    {
        overflow: hidden;
        max-height: 300px;
        max-width: 100%;
        margin: 0;
        border-right: none;
        border-bottom: solid white 3px;
    }
    
    .project-img img
    {
        height: 400px;
        transform: translateX(0px);
    }

    #img-3
    {
        transform: translateX(0px);
    }
    
    .project-description
    {
        margin-top: 20px;
        width: 100%;
        padding: 20px;
    }
    
    .project-links
    {
        display: flex;
        flex-direction: column;
    }
}